// main: ../../style.less

.works__card
{
    width: 370px;
    height: 370px;

    border-radius: 10px;

    box-shadow: 0 0 4px rgba(#000, 0.24);
    overflow: hidden;

    transition: all .2s linear;

    &:hover
    {
        transform: translateY(-15px);

        box-shadow: 1px 1px 25px rgba(#000, 0.5);
    }

    @media (max-width: 1185px)
    {
        width: 340px;
        height: 340px;
        margin: 0 auto;
    }

    @media (max-width: 400px)
    {
        width: 240px;
        height: 240px;
    }
}

.works__wrapper
{
    width: 33.333%;
    margin-bottom: 2rem;

    @media (max-width: 1100px)
    {
        width: 50%;
    }

    @media (max-width: 740px)
    {
        width: 100%;
    }
}

.works__info
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.works__category
{
    margin: 0.5rem 0;

    @media (max-width: 740px)
    {
        margin: 1rem 0;
    }

    @media (max-width: 400px)
    {
        margin: 0.5rem 0;
    }
}

.works__name
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}