// main: ../../style.less

.footer
{
    background-color: @black;
    height: 58px;
}

.footer__inner
{
    display: flex;
    justify-content: space-between;
}

.footer__info
{
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
}

.footer__copyright
{
    margin-right: 3rem;

    color: @grey-light;
}