// main: ../../style.less

.blogs__card
{
    width: 370px;
    height: 508px;
    margin-bottom: 2rem;

    cursor: auto;
}

.blogs__name
{
    margin: 0.3rem 0 0.46rem 0;

    font-size: 1.2rem;
}

.blogs__category
{
    margin: 0.46rem 0 1.5rem 0;
}

.card__content
{
    margin-bottom: 3.66rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: @grey;
}

.blogs__photo
{
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.blogs__time
{
    width: 77px;
    height: 77px;
    padding-top: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    background: @black;

    color: @white;
    text-align: center;
    font-size: 1.06rem;
}