// main: ../../style.less

.header__nav
{
    @media (max-width: 789px)
    {
        display: none;
    }
}

.header__nav-element
{
    margin-left: 2.3rem;

    font-weight: 700;

    &:after
    {
        height: 2px;
        background-color: @black;

        bottom: -5px;
        left: 0;

        transition: width .1s linear;
    }

    &:hover
    {
        &:after
        {
            width: 100%;
        }
    }
}